src/main/mule/kernel-lab.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
    <apikit:config name="lab-config" api="lab-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" parser="RAML"/>
    <flow name="lab-api-router" doc:id="c9c1b070-bbe9-4035-91bb-72869d5a8ccb">
        <http:listener doc:name="/api/*" doc:id="813fdba8-0ea8-49b0-842e-0bd7e254118a" config-ref="HTTP_Listener_config" path="/api/*" />
        <apikit:router doc:name="APIkit Router" doc:id="52df9e00-f6a3-4439-b334-0c7e41113b78" config-ref="lab-config" />
    </flow>
    <flow name="lab-api-console" doc:id="abdd5a02-90ce-4309-b0d8-f0f35e827ea3">
        <http:listener doc:name="/console/*" doc:id="9dd94727-20bb-4002-b730-87718b836e19" config-ref="HTTP_Listener_config" path="/console/*" />
        <apikit:console doc:name="APIkit Console" doc:id="b0a2a4a0-85b0-4b93-94d4-1e96b9ba9e71" config-ref="lab-config" />
    </flow>
    <flow name="get:\hw:lab-config">
        <java:invoke-static method="hw()" doc:name="HW.hw()" doc:id="60f48bf2-4be2-44c3-9837-8755df5e9da8" class="HW"/>
		<set-payload value="#[output application/json&#10;---&#10;payload]" doc:name="as JSON" doc:id="545fd73c-7851-494b-a6da-84c90dbe20f3" />
    </flow>
</mule>
